* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ol,
ul,
li {
  list-style-type: none;
}

button,
input,
textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer;
}

.fas,
input,
svg {
  cursor: pointer;
}

input:focus-within {
  outline: 1px solid transparent;
}

details > summary {
  list-style: none;
}

summary,
input {
  border: 0;
  outline: none;
}

summary:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #222222;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #222222;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left,
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__left {
  gap: 41px;
}

.li {
  padding: 30px 16px 25px 16px;
}

.baner {
  background: #F1E4E6;
}

.baner__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(img/top.png) no-repeat -220px;
  min-height: 764px;
}

.baner__title {
  margin: 0 101px 91px 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

.baner__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.baner__text_dec {
  color: #F16D7F;
}

.menu {
  position: relative;
}

.box_heading {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-bottom: 24px;
  margin-left: 33px;
  text-transform: uppercase;
  line-height: 17px;
  width: 55px;
  height: 17px;
  font-family: 'Lato';
}

.mega_box {
  background: #FFFFFF;
  padding-top: 20px;
  position: absolute;
  top: 84px;
  width: 232px;
  display: none;
  height: 764px;
  z-index: 1;
}

.mega_item {
  margin-bottom: 20px;
  margin-left: 33px;
}

.mega_heading {
  font-weight: 400;
  font-size: 14px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.mega_link {
  display: block;
  text-decoration: none;
  line-height: 17px;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  margin-top: 11px;
  margin-left: 22px;
}

.mega_link:hover {
  color: #F16D7F;
}

.menu:hover .mega_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage {
  margin: 65px 0 96px 0;
}

.advantage__wrap {
  gap: 30px;
}

.advantage_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage_bot {
  margin-top: 30px;
}

.advantage__card {
  display: block;
  height: 260px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wom {
  background: url(img/aw.png) no-repeat;
}

.men {
  background: url(img/am.png) no-repeat;
}

.kid {
  background: url(img/ak.png) no-repeat;
}

.acc {
  background: url(img/aa.png) no-repeat;
  width: 100%;
  height: 180px;
}

.ad_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.ad_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.item {
  width: 360px;
  position: relative;
  background: #F8F8F8;
}

.item_lnk {
  display: block;
}

.item:hover .item_pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.txt_box {
  padding: 20px;
}

.item_desc {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.item_detal {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.item_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-transform: uppercase;
}

.item_heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.sec_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.add_box {
  display: none;
  position: absolute;
  top: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border: 1px solid #fff;
  pointer-events: all;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #FFF;
          box-shadow: 0 0 10px #FFF;
}

.item:hover .add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-left: 11px;
}

.item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 48px;
}

.item_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
}

.item_button_prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  background: #FFF;
  text-align: center;
  border: 1px solid #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #F26376;
  width: 211px;
  height: 47px;
}

.button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.plus {
  background: #222224;
}

.plus__wrap {
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quality {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.plus_pic {
  margin-bottom: 28px;
  margin-top: 103px;
  width: 47px;
  height: 40px;
}

.plus_heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.plus_txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  margin-bottom: 104px;
}

.footer {
  background-color: #222224;
}

.footer_bg {
  background: url(img/footer.png) no-repeat;
  background-size: 100% 100%;
  height: 448px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 350px;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

.footer__span {
  font-style: italic;
}

.footer_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  font-weight: bold;
}

.title_h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.textarea {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  width: 250px;
  height: 49px;
  padding: 7px 0 7px 22px;
  margin-right: -5px;
}

.push {
  background: #F16D7F;
  width: 100px;
  height: 49px;
  border-radius: 0 20px 20px 0;
  color: #FFFFFF;
}

.push_reg {
  width: 167px;
  border-radius: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__nonbg {
  height: 79px;
}

.footer_bot {
  padding-top: 30px;
  padding-bottom: 30px;
}

.copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.bottom_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-brands {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  margin-right: 7px;
  color: #000000;
  padding: 8px 10px 8px 10px;
}

.fa-brands:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.top_page {
  background: #F8F3F4;
}

.top_page_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 184px;
}

.header_top {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb li {
  display: inline;
}

.bc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #636363;
}

ul.breadcrumb li + li:before {
  padding: 6px;
  content: "/\00a0";
  color: #636363;
}

.active {
  font-weight: 700;
  color: #F16D7F;
}

.slider_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 42px;
}

.slide__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
}

.slide__left:hover,
.slide__right:hover {
  color: #F16D7F;
}

.slide__left,
.slide__right {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.slider {
  background: #F7F7F7;
  position: relative;
}

.offer {
  background: #FFFFFF;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.offer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0 64px;
  border: 1px solid #EAEAEA;
  height: 600px;
  width: 1140px;
  background: #FFFFFF;
  position: absolute;
  margin-top: -65px;
}

.offer_h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.offer_h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.offer_txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  width: 550px;
  margin-bottom: 32px;
}

.offer_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.choose {
  width: 640px;
  border-top: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 65px;
  margin-bottom: 48px;
}

.choose_detal {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.choose_txt {
  margin-right: 9px;
}

.pink {
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
  margin-bottom: 12px;
}

.offer_button {
  padding-left: 23px;
}

.img_button {
  width: 26px;
  height: 24px;
}

.item_sec_prod {
  margin-bottom: 80px;
}

.mega__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_box {
  width: 360px;
  position: absolute;
  display: none;
  height: 531px;
  top: 0px;
  top: 310px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 13px 0px 16px 17px;
  z-index: 1;
}

.mega_item:hover .filter_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_link {
  display: none;
}

.mega_heading_filter {
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px 0px 11px 11px;
  margin: 0px;
  margin-right: 15px;
}

.mega_item_filter {
  margin: 16px 0px 0px 0px;
}

.filter:hover .mega_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 65px;
}

.filter_heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 20px;
}

.fa-bars {
  margin-left: 11px;
}

.other__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 1;
}

.label_cat {
  display: inline-block;
  margin-bottom: 3px;
}

label input {
  margin-right: 9px;
}

.other_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  height: 103px;
  padding: 7px 0px 11px 9px;
  margin-top: 5px;
}

.other_summary {
  margin-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-angle-down {
  margin-left: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
  width: 283px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}

.arrow {
  margin-right: 16px;
  margin-left: 16px;
  color: #000000;
}

.number {
  padding: 7px 7px;
  color: #c4c4c4;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.number:hover {
  color: #EF5B70;
}

.reg__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.reg_left {
  margin-right: 128px;
}

.area {
  width: 360px;
  height: 45px;
  padding: 13px 0px 16px 17px;
  border: 1px solid #A4A4A4;
  margin-top: 21px;
}

input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.5;
}

input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.5;
}

input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.5;
}

input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.5;
}

.header_form {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-family: 'Lato';
}

.pol {
  margin-top: 35px;
  margin-bottom: 33px;
}

.pol_label {
  margin-right: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  margin-left: 10px;
  font-family: 'Lato';
}

.txt_password {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
  width: 360px;
}

.fa-arrow-right-long {
  color: #FFFFFF;
  margin-left: 20px;
}

.heading_reg_right {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.txt_reg_right {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

ul.reg_right_ul li::before {
  content: "\2713\0020";
  padding-right: 23px;
}

.li_reg_right {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */