* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

ol,
ul,
li {
  list-style-type: none;
}

button,
input,
textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer;
}

.fas,
input,
svg {
  cursor: pointer;
}

input:focus-within {
  outline: 1px solid transparent;
}

[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="radio"]:hover,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="radio"]:focus {
  outline: 1px solid #F16D7F;
  background: #ffffff;
  cursor: pointer;
}

details>summary {
  list-style: none;
}

summary,
input {
  border: 0;
  outline: none;
}

summary:hover {
  transition: 0.3s;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #222222;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #222222;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  justify-content: center;

}

.header__left {
  gap: 41px;
}

.li {
  padding: 30px 16px 25px 16px;
}

.baner {
  background: #F1E4E6;
}

.baner__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(img/top.png) no-repeat -220px;
  min-height: 764px;
}

.baner__title {
  margin: 0 101px 91px 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

.baner__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.baner__text_dec {
  color: #F16D7F;
}

.menu {
  position: relative;
}

.box_heading {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-bottom: 24px;
  margin-left: 33px;
  text-transform: uppercase;
  line-height: 17px;
  width: 55px;
  height: 17px;
  font-family: 'Lato';

}

.mega_box {
  background: #FFFFFF;
  padding-top: 20px;
  position: absolute;
  top: 84px;
  width: 232px;
  display: none;
  height: 764px;
}

.mega_item {
  margin-bottom: 20px;
  margin-left: 33px;
}

.mega_heading {
  font-weight: 400;
  font-size: 14px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.mega_link {
  display: block;
  text-decoration: none;
  line-height: 17px;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  margin-top: 11px;
  margin-left: 22px;
}

.mega_link:hover {
  color: #F16D7F;
}

.menu:hover .mega_box {
  display: flex;
  flex-direction: column;
}

.advantage {
  margin: 65px 0 96px 0;

}

.advantage__wrap {
  gap: 30px;
}

.ad_top {
  display: flex;
  justify-content: space-between;

}

.ad_bot {
  margin-top: 30px;
}

.advantage__card {
  display: block;
  height: 260px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.wom {
  background: url(img/aw.png) no-repeat;
}

.men {
  background: url(img/am.png) no-repeat;
}

.kid {
  background: url(img/ak.png) no-repeat;
}

.acc {
  background: url(img/aa.png) no-repeat;
  width: 100%;
  height: 180px;
}

.ad_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.ad_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.item {
  width: 360px;
  position: relative;
  background: #F8F8F8;
}

.item_lnk {
  display: block;

}

.item:hover .item_pic {
  filter: brightness(30%);
}

.txt_box {
  padding: 20px;

}

.item_desc {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.item_detal {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.item_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-transform: uppercase;

}

.item_heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.sec_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.add_box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #fff;
  pointer-events: all;
}

.add:hover {
  box-shadow: 0 0 10px #FFF;
}

.item:hover .add_box {
  display: flex;
}

.add_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-left: 11px;
}

.item_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 48px;
}

.item_button {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
  width: 100%;
}

.button {
  background: #FFF;
  text-align: center;
  border: 1px solid #FF6A6A;
  display: flex;
  justify-content: center;
  padding: 14px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #F26376;
}

.button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.plus {
  background: #222224;
}

.plus__wrap {
  min-height: 341px;
  display: flex;
  justify-content: space-between;
}

.quality {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plus_pic {
  margin-bottom: 28px;
  margin-top: 103px;
  width: 47px;
  height: 40px;
  
}

.plus_heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.plus_txt {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  margin-bottom: 104px;
  
}

.footer {
  background: url(img/footer.png) no-repeat;
}

.footer__text {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}